.main-layout__container {
	display: flex;
}
.main-layout__items {
	flex-grow: 1;
}
.main-layout__content {
	padding-left: 50px;
	padding-right: 50px;
	height: auto;
	@media screen and (max-width: 997px) {
		padding-left: 20px; /* Adjust as needed */
		padding-right: 20px; /* Adjust as needed */
	}
}
