.form__container {
	--bs-nav-link-color: var(--bs-white);
	--bs-nav-pills-link-active-color: var(--bs-primary);
	--bs-nav-pills-link-active-bg: var(--bs-white);
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	background-image: url(../../assets/images/young-handsome-physician-medical-robe-with-stethoscope.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.login-form {
	padding: 45px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	backdrop-filter: blur(10px);
	display: flex;
	flex-direction: column;
	border: 1px rgba(0, 0, 0, 0.1) solid;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	@media screen and (max-width: 768px) {
		padding: 24px;
	}
}
.login-form__image {
	height: 40%;
	width: 40%;
	align-self: center;
}
.form-label {
	font-weight: 600;
}
.button__container {
	width: 70%;
	align-self: center;
	margin-top: 30px;
	height: 45px;
	display: flex;
	justify-content: center;
	position: relative;
	@media screen and (max-width: 768px) {
		height: 40px;
		width: 60%;
	}
}
.error-message {
	color: red;
	font-weight: 600;
	position: absolute;
	top: -38px;
}
.error-message .submit-button {
	background-color: #448ee4;
	height: 100%;
	border-radius: 15px;
	color: #ffffff;
	font-weight: 600;
	width: 100%;
}
.submit-button:hover,
.submit-button:focus,
.submit-button:active {
	background-color: #6da1de;
	color: #000000;
}
.submit-button:disabled {
	background-color: #b2b4b3;
	color: #000000;
	border: none;
}
.login-form-link__container {
	display: flex;
	justify-content: end;
	margin-top: 20px;
	gap: 10px;
}
.login-form-link {
	text-decoration: none;
	color: #448ee4;
	font-weight: 700;
}
