.header__container {
	background-color: #448ee4;
}
.header-image {
	height: 40px;
	width: 50px;
}
.header-main-container {
	@media screen and (max-width: 768px) {
		justify-content: space-between;
	}
}
.desktop-header-links {
	display: flex;
	@media screen and (max-width: 768px) {
		display: none;
	}
}
.desktop-header-links a {
	color: #000000 !important;
}

.desktop-header-links .active {
	color: #ffffff !important;
	font-weight: 600;
}
